

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  /* background-color: #30336b; */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: min(1600px, 100%);
  margin: auto;
  padding: 50px 150px 50px 150px;
}

#note{
  opacity: 50%;
}